@import "sass/card.scss";
@import "sass/margin.scss";
@import "sass/padding.scss";
@import "sass/flex.scss";
@import "sass/line.scss";

.no-outline{
    outline: none;
}

html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    height: 100%;
	width: calc(100vw + 18px);
	overflow: auto;
}
*::-webkit-scrollbar {
    display: none;
}

.choose {
    border-radius: 4px;
    border: 2px solid #254ca8;
    box-sizing: border-box;
    background-color: #fff;
    transition: .3s;
}